version: "3.8"

services:
  frontend:
    build: ./frontend
    container_name: react_app
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: Laravel
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend/.env:/var/www/.env
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: mydb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/data:/var/lib/mysql
